/* CSS file for main html */

#header {
	font-size: 40px;
	/* move 25% to the right */
}

#punchline {
/*	position: absolute;*/
	margin-left: 5%;
	font-size: 32px;
	font-style: italic;
}

#click {

	display: table;
	margin: auto;
}

#searchbar {
	display: table;
	margin: auto;
}

.item {
	display: inline-block;
	margin: 10px 30px 10px 30px;
}
.item:hover { 
    opacity: 0.5;
    -webkit-transform: scale(1.15);
}

img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

#container {
	position: absolute;
    top: calc(50%);
    left: calc(50% - 305px);
}

h2 {
	text-align: center;
}
