body {
  margin: 0px;
  font-family: 'Lato';
  background: #f7f5f2
}

.img-scaled {
  width: 100%;
}

#nav-bar {
  position: fixed;
  width: 100%;
  height: 90px;
  background: #6F7EA8;
  opacity: 0.9;
  z-index: 10;
}

#nav-bar .left {
  left: 0px;
  top: 0px;
}

#nav-bar .right {
  float: right;
  margin-right: 20px;
}

#nav-bar #title {
  float: left;
  padding: 15px 20px;
}

#navbar-user {
  float: left;
  cursor: pointer;
  position: relative;
}

#navbar-user-arrow {
  float: left;
  width: 24px;
  margin: 18px 0px;
  opacity: 0.6;
}

#title-logo {
  width: 36px;
  float: left;
}

#title-name {
  float: left;
  color: white;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 40px;
  font-weight: 300;
}

#nav {
  float: left;
}

.nav-item {
  float: left;
  padding: 15px 20px;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
}

.nav-icon {
  float: left;
  margin-top: 9px;
}


#user-pic {
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 50%;
  border: 3px solid black;
}

#user-name {
  float: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 10px;
}

#pic {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    display: block;
    margin: 13px 0;
    overflow: hidden;
}

.img-logo {
  width: 60px
}

.search-input {
  margin: 22px 0px;
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 17px;
  width: 450px;
  height: 30px;
}
